body {
    padding: 0;
    margin: 0;
    background-color: #ffccff;
}
.clock {
    background-color: #1a001a;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    
}
.timer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    
}
.hours, .minutes, .seconds {
    font-size: 50px;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    margin-left: 20px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.day {
    font-size: 50px;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    margin-left: 20px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer > p {  
    padding-left: 10px;
    font-size: 30px;
}
.show {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.time-text {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.images {
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
}
.form {
    grid-column: 2 / 3;
    /*align-content: center;*/
    text-align: center; 
    justify-self: center;
    align-self: center;
}
input[type=text], input[type=time], select {
    width: 50%;
    padding: 12px;
    margin-bottom: 8px;
    display: inline-block;
    border: 2px solid white;
    border-radius: 4px;
    box-sizing: border-box;
}
.addbutton, .clear {
    padding: 10px;
    background-color: #990099;
    color: white;
    border: none;
    border-radius: 10px;
}
table {
    padding: 20px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
.table {
    padding: 20px;
}
th, td {
    border: 2px solid #d9d9d9;
    padding: 20px;
}

.d-none {
    display: none;
}
.d-visible {
    display: block;
}
.see-text {
    visibility: hidden;
}

@media screen and (max-width: 767px) {
    .clock {
        display: grid;
        grid-template-rows: repeat(5, auto);
        
    }
    .timer {
        grid-row: 1 / 2;
        justify-content: unset;  
    }
    .hours, .minutes, .seconds, .day {
        font-size: 30px;
        width: 50px;
        height: 50px;
        border: 2px solid white;
        text-align: center;
        font-weight: bold;
    }
    .timer > p {
        display: none;
    }
    .time-text {
        grid-row: 2 / 3;
        text-align: initial;
        padding-left: 80px;
    }
    .show {
        display: flex;
        flex-direction: column-reverse;
    }
    .form {
        padding-bottom: 10px;
    }
    .images > img {
        width: 300px;
    }
}   